
 @-webkit-keyframes color-change-2x {
    0% {
      background: rgb(165, 0, 0);
    }
    100% {
      background: rgb(0, 0, 0);
    }
  }
  @keyframes color-change-2x {
    0% {
      background: rgb(150, 0, 0);
    }
    100% {
      background: rgb(20, 0, 0);
    }
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    -webkit-animation: color-change-2x 5s linear infinite alternate both;
    animation: color-change-2x 5s linear infinite alternate both;
}

header{
    margin-top: 2rem;
    width: 100vw;
}
body{
    width: 100vw;
}
h1{
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-size: 4em;
    text-shadow: -2px 1px 3px white,
                2px -1px 3px white;
}
main{
    margin-top: 1.5rem;
}
#Foto{
    position: relative;
    top: 3rem;
    left: 24%;
}
#teamfoto{
    border: 5px solid black;
    border-radius: 3rem;
}
#teamfoto:hover{
    box-shadow: 5px 5px 20px white, -5px -5px 10px white;
}

h2{
    text-align: center;
    color: white;
    font-size: 3em;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-top: 5rem;
    text-decoration: underline;
    text-shadow: 2px 2px red, -2px -2px 2px grey;
}
h3{
    font-size: 2em;
    text-align: center;
    border: 1px solid red;
    width: 200px;
    margin-left: 150px;
}
ul{
    background-color: rgb(83, 83, 83);
    color: white;
    display: inline-block;
}
p{
    font-size: 1.5em;
    color: white;

    background-color: rgb(83, 83, 83, 0.507);
    width: 35rem;
    border-bottom: 0.5px solid rgb(255, 255, 255);

}
.zone{
    border: 0.5px solid rgb(255, 255, 255);
}
code{
    background-color: rgba(255, 0, 0, 0.473);
    text-align:right;
    padding-left: 50px;
}

.homegames{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem;
    width: 35vw;
    margin-left: 7rem;
    margin-top: 12rem;
}

.awaygames{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem;
    width: 35vw;
    margin-left: 7rem;
    margin-top: 5rem;
}

#ich{
    width: 25vw;
    height: 65vh;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2rem;
    position: absolute;
    left: 62vw;
    top: 10rem;
    
}
#klicktext{
    font-size: 1.2em;
    width: 170px;
    height: 25px;
    position: relative;
    left: 46%;
    top: 1rem;
    background-color: rgba(0, 0, 0, 0.507);
    
}
section{
    box-sizing: border-box;
    position: relative;
    margin-top: 1rem;
}

footer p{
    width: 100%;
}
.fa-solid{
    color: yellow;
    height: 1px;
}
#insta{
    border: none;
    font-size: 2rem;
    position: absolute;
    margin: 1rem 50vw;
}
#instagram{
    background-color: inherit;
    color: white;
}
.spielbericht{
    text-decoration: underline;
    color: rgba(255, 255, 0, 0.8);
    background-color: black;
}
.fa-circle-xmark{
    color: #ff006a;
}